@page "/llantas"
@rendermode InteractiveServer
@using Retell.Model.Llanta

<BreadCrumbComponent navItems="breadcums"></BreadCrumbComponent>

<div class="row">
    <div class="d-flex justify-content-between">
        <div>
            <button type="button" class="btn btn-primary align-content-center" @onclick="@(()=>EditLlanta("0"))">Insertar</button>
        </div>
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
                <InputText type="search" placeholder="Buscar" aria-describedby="button-addon1" class="form-control border-0 bg-light" @bind-Value="@searchText"/>
                <div class="input-group-append">
                    <button @onclick="@SearchData" id="button-addon1" type="submit" class="btn btn-link text-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <QuickGrid Items="@data" Pagination="@pagination" Class="table table-hover table-bordered">
            <PropertyColumn Title="NUMERO" Property="@(p => p.NUMERO)" Sortable="true" />
            <PropertyColumn Title="INGRESO" Property="@(p => p.FECHAING)" Sortable="true" />
            <PropertyColumn Title="ENTREGA" Property="@(p => p.FECHAENT)" Sortable="true" />
            <PropertyColumn Title="ESTADO" Property="@(p => p.ESTADO)" Sortable="true" />
            <TemplateColumn Title="MAS" Align="Align.Center">
                <button style="background: none; border: none;" @onclick="@(() => EditLlanta(context.LLANTAID))">
                    <i class="bi bi-eye"></i>
                </button>
                @* <button @onclick="@(() => Fire(context))">Fire</button> *@
            </TemplateColumn>
        </QuickGrid>
    </div>
    <Paginator State="@pagination" />
</div>